@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
  font-family: 'Roboto Condensed', sans-serif;
}

a {
    transition: 1s;
}

a:hover {
    color: red;
    text-decoration: underline;
    transition: 1s;
}