@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

* {
    color: #fff;
}

h1 {
    font-family: "Handjet", sans-serif;
    transition: 0.5s;
}

h1:hover {
    color: blue;
}

.topo {
    background-color: rgba(255, 255, 255, 0.145);
    border-bottom: 3px solid white;
}


img {
    height: 200px;
    object-fit: contain;
}