body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/images/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}