body, html {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs_moedas {
    align-self: center;
    justify-self: center;
}

h1 {
    font-size: 60px;
}

button {
    width: 8em;
}

button:disabled {
    background-color: white;
    border: 1px solid red;
}

.formulario {
    background-color: cadetblue;
    width: 30em;
    height: 30em;
}