<h1 class="text-center mt-5 text-danger fw-bold">Cardapio</h1>
<div class="container d-flex flex-wrap justify-content-center align-items-center">
    <div class="card m-5 text-bg-dark sombra sobre" style="width: 18rem;">
        <img src="../../../images/hamburguer.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Hamburguer</p>
        </div>
      </div>
      <div class="card m-5 text-bg-dark sombra sobre" style="width: 18rem;">
        <img src="../../../images/pizza.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Pizza</p>
        </div>
      </div>
      <div class="card m-5 text-bg-dark sombra sobre" style="width: 18rem;">
        <img src="../../../images/refrigerantes.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Refrigerante</p>
        </div>
      </div>
      <div class="card m-5 text-bg-dark sombra sobre" style="width: 18rem;">
        <img src="../../../images/sucos.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-center">Suco</p>
        </div>
      </div>
</div>
