#card {
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    padding: 2em;
    min-height: 100vh;
    height: auto;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: bold;
 }

#card-texto {
    width: 80%;
    font-size: 1.7em;
}

@media (max-width: 900px) {
  iframe {
    display: none;
  }
}
@media (min-width: 900px) {
  #img-local {
    display: none;
  }
}
