<div class=" d-flex flex-column justify-content-center align-items-center " id="main">
    <h1 class="text-center p-5 text-danger">PrimeFood</h1>
    <div id="infos" class="d-flex flex-column justify-content-between align-items-center ">
      <i class="fa-solid fa-user"></i>
      <input class="rounded" type="text" placeholder="nome:">
      <input class="rounded" type="email" placeholder="insira seu E-mail:">
      <input class="rounded" type="password" placeholder="insira sua senha:">
      <input class="rounded" type="password" placeholder="confirmar senha:">  
      <input  class="rounded" type="text" placeholder="endereço:">
      <button class="rounded text-center p-1 m-5 ">Cadastrar-se</button>
    </div>
  </div>
