
<div id="card" class="d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center text-danger">Bem-Vindo</h1>
  <p id="card-texto">
    No PrimeFood, nossa missão é proporcionar a você uma experiência culinária excepcional. Nossos chefs talentosos combinam ingredientes frescos e de alta qualidade para criar pratos deliciosos que agradam a todos os paladares. Desde pratos clássicos até criações exclusivas, cada refeição no PrimeFood é uma combinação perfeita de sabores e apresentação impecável. Além disso, nossa equipe calorosa e profissional está pronta para recebê-lo em um ambiente acolhedor e elegante, garantindo que sua visita seja memorável. Seja para um jantar romântico, uma celebração especial ou uma reunião de negócios, estamos aqui para proporcionar uma experiência gastronômica inesquecível.
  </p>
</div>

<div id="card" class="d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center text-danger">Sobre</h1>
  <p id="card-texto">
    A PrimeFood é uma empresa dedicada a oferecer aos seus clientes refeições deliciosas e de alta qualidade. Com um menu variado e ingredientes frescos, a PrimeFood é a escolha perfeita para quem busca uma experiência gastronômica única e memorável. Venha experimentar nossas opções de pratos e sinta o sabor da nossa paixão pela culinária.
  </p>
</div>

<div id="card" class="d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-center text-danger">Local</h1>
  <iframe class="m-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.560438466945!2d-48.48102332658545!3d-1.4387734358085285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48ea7879bca93%3A0xd1eb9c08b4629a11!2sUNAMA%20-%20Alcindo%20Cacela!5e0!3m2!1spt-BR!2sbr!4v1684804815631!5m2!1spt-BR!2sbr" width="300px" height="300px" style="border:1;"></iframe>
  <img id="img-local" class="m-5" style="width: 300px; height: 300px;" src="../../../images/maps.webp" alt="">
  <p id="card-texto">
    O restaurante PrimeFood está localizado em um ponto estratégico da cidade, oferecendo fácil acesso aos clientes. O espaço é amplo e bem iluminado, com uma decoração moderna e acolhedora. Além disso, o ambiente é climatizado e conta com uma equipe de limpeza que mantém tudo sempre organizado e impecável. No geral, é um local agradável para desfrutar de uma boa refeição.
  </p>
</div>
