<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div style="height: 100vh;" class="carousel-item active">
        <img style="width: 100%; height: 100vh; object-fit: cover;" src="https://images.pexels.com/photos/2923034/pexels-photo-2923034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block" alt="...">
      </div>
      <div style="height: 100vh;" class="carousel-item">
        <img style="width: 100%; height: 100vh; object-fit: cover;" src="https://images.pexels.com/photos/2956952/pexels-photo-2956952.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block" alt="...">
      </div>
      <div style="height: 100vh;" class="carousel-item">
        <img style="width: 100%; height: 100vh; object-fit: cover;" src="https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="card" class="d-flex flex-column justify-content-around align-items-center">
    <h1 class="text-center text-danger">Sobre</h1>
    <p id="card-texto">A PrimeFood é uma empresa se dedica a oferecer aos seus clientes refeições deliciosas e de alta qualidade. Com um menu variado e ingredientes frescos, a PrimeFood é a escolha perfeita para quem busca uma experiência gastronômica única e memorável. Venha experimentar nossas opções de pratos e sinta o sabor da nossa paixão pela culinária.</p>
</div>
<div id="card" class="d-flex flex-column justify-content-around align-items-center">
    <h1 class="text-center text-danger">Local</h1>
    <p id="card-texto">O restaurante PrimeFood está localizado em um ponto estratégico da cidade, oferecendo fácil acesso aos clientes. O espaço é amplo e bem iluminado, com uma decoração moderna e acolhedora. Além disso, o ambiente é climatizado e conta com uma equipe de limpeza que mantém tudo sempre organizado e impecável. No geral, é um local agradável para desfrutar de uma boa refeição.</p>
</div>