#card {
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
    padding: 2em;
    min-height: 100vh;
    height: auto;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
}

h1 {
    font-size: 5em;
    font-weight: bold;
 }

#card:last-child {
    border-bottom: 0px solid white;
}
#card-texto {
    width: 80%;
    font-size: 1.7em;
}