<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 90vh;">
      <img style="height: 100%; width: 100%; object-fit: cover; filter: brightness(60%);" src="../../../images/carrousel-1.webp" class="d-block img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <p class="fs-1">Ambiente sofisticado</p>
        <a href="#card"><i class="animar-seta fs-1 fa-solid fa-arrow-down text-white seta"></i></a>
      </div>
    </div>
    <div class="carousel-item" style="height: 90vh;">
      <img style="height: 100%; width: 100%; object-fit: cover; filter: brightness(40%);" src="../../../images/carrousel-2.webp" class="d-block img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <p class="fs-1 text-white">Excelência no serviço</p>
        <a href="#card"><i class="animar-seta fs-1 fa-solid fa-arrow-down text-white seta"></i></a>
      </div>
    </div>
    <div class="carousel-item" style="height: 90vh;">
      <img style="height: 100%; width: 100%; object-fit: cover; filter: brightness(40%);" src="../../../images/carrousel-3.webp" class="d-block img-fluid" alt="...">
      <div class="carousel-caption d-md-block">
        <p class="fs-1">Coworking</p>
        <a href="#card"><i class="animar-seta fs-1 fa-solid fa-arrow-down text-white seta"></i></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div id="card" class="d-flex flex-column justify-content-around align-items-center">
    <h1 class="text-center text-danger">Sobre</h1>
    <p id="card-texto">A PrimeFood é uma empresa se dedica a oferecer aos seus clientes refeições deliciosas e de alta qualidade. Com um menu variado e ingredientes frescos, a PrimeFood é a escolha perfeita para quem busca uma experiência gastronômica única e memorável. Venha experimentar nossas opções de pratos e sinta o sabor da nossa paixão pela culinária.</p>
</div>
<div id="card" class="d-flex flex-column justify-content-around align-items-center">
    <h1 class="text-center text-danger">Local</h1>
    <iframe class="m-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.560438466945!2d-48.48102332658545!3d-1.4387734358085285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48ea7879bca93%3A0xd1eb9c08b4629a11!2sUNAMA%20-%20Alcindo%20Cacela!5e0!3m2!1spt-BR!2sbr!4v1684804815631!5m2!1spt-BR!2sbr" width="300" height="300" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p id="card-texto">O restaurante PrimeFood está localizado em um ponto estratégico da cidade, oferecendo fácil acesso aos clientes. O espaço é amplo e bem iluminado, com uma decoração moderna e acolhedora. Além disso, o ambiente é climatizado e conta com uma equipe de limpeza que mantém tudo sempre organizado e impecável. No geral, é um local agradável para desfrutar de uma boa refeição.</p>
</div>