@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

body {
    background-image: url("https://i.pinimg.com/originals/a1/98/2a/a1982a6d9403b78303ee5fb3b15123e2.jpg");
    background-size: cover;
}

h1 {
    color: white;
    font-family: "Handjet", sans-serif;;
}